@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    font-size: x-large;
    --cor-primaria: #4169E1;
    --cor-primaria-escurecida: #0338d6;
    --cor-secundaria: #2b7105;
    --cor-destaque: #FFD700;
    --cor-fundo: #F8F8F8;
    --cor-texto: #333333;
}

body {
    color: var(--cor-texto);
}

.body-color {
    background-color: var(--cor-fundo);
}

.body-padding {
    padding: 1rem;
}

main>div {
    margin-bottom: 1rem;
}

main p {
    text-align: justify;
}

header {
    /* position: fixed; */
    z-index: 9999;
    background-color: var(--cor-primaria);
    width: 100%;
}

footer {
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
}

footer>a {
    margin-right: auto;
    margin-left: auto;
}

.profile-foto {
    border-radius: 100%;
    width: 30%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button,
#special-a {
    font-size: 1rem;
    border-radius: 100vw;
    border: none;
    padding: .5rem;
    color: var(--cor-texto);
    cursor: pointer;
}

#button-header,
#special-a {
    font-weight: bold;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    background-color: var(--cor-primaria-escurecida);
}

h1 {
    padding-bottom: 1rem;
}

ul {
    margin-left: 1.5rem;
}

li {
    padding-bottom: .5rem;
}

.icons>div>img {
    width: 2rem;
    height: 2rem;
}

.icons>div>span,
image {
    padding-left: .5rem;
    position: absolute;
    padding-top: .5rem;
}

#ts {
    width: 1.871rem;
    height: 1.871rem;
    padding-bottom: 3px;
}

#mqtt {
    width: 8rem;
}

/* .icons > div {
    display: flex;
    flex-direction: row;
} */

#print {
    position: fixed;
    bottom: .5rem;
    right: 1rem;
    z-index: 9999;
    transition: bottom 0.3s ease;
}

#print button {
    background-color: var(--cor-destaque);
}

.line-animation {
    background: linear-gradient(to right, var(--cor-primaria), var(--cor-secundaria), var(--cor-primaria));
    background-size: 200% 100%;
    animation: line-connect 10s linear infinite;
}

.line-animation2 {
    animation: line-connect 10s linear infinite !important;
}

#special-a {
    display: none;
    text-decoration: none;
}

@keyframes line-connect {
    0% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    100% {
        background-position: -100% 50%;
    }
}

@media (min-width: 600px) {
    .profile-foto {
        width: 10%;
    }

    .special {
        display: none;
    }
}

@media (max-width: 600px) {
    .icons>div {
        padding-bottom: 2.7rem;
    }

    .icons div:last-child {
        padding-bottom: .5rem !important;
    }

    .icons>div>span {
        padding: 0;
    }

    .profile-foto {
        width: 40%;
    }
}

@media print {
    a::after {
        attr(href);
    }

    #special-a {
        display: block;
    }

    #button-header {
        display: none;
    }

    #print {
        display: none;
    }

    .profile-foto {
        width: 25%;
    }
}